<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Module2</key>
	<dict>
		<key>Image</key>
		<dict>
			<key>toPath</key>
			<string>Module2</string>
			<key>imageConfigs</key>
			<array/>
		</dict>
		<key>Style</key>
		<dict>
			<key>DrawColor</key>
			<dict>
				<key>color</key>
				<string>32be78</string>
				<key>font</key>
				<integer>15</integer>
				<key>备注</key>
				<string>描述哪里的</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
